<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>蓝雀词典 - Lantra Dictionary</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/index.js"></script>
</head>
<body>
    <!-- 装饰性背景元素 -->
    <div class="decoration"></div>
    <div class="decoration"></div>
    
    <div class="header-container">
        <h1 class="main-title">蓝雀词典</h1>
        <p class="sub-title">LANTRA DICTIONARY</p>
    </div>
    
    <div class="search-container">
        <label class="search-container">
            <input type="text" class="search-box" placeholder="输入汉字/单词，回车查询">
        </label>
    </div>


</body>
</html>